[Unit]
Description=Yuda eCRF

[Service]
WorkingDirectory=/opt/yuda-ecrf/
User=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/node /opt/yuda-ecrf/start.js
KillMode=process
TimeoutStopSec=5s
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
