extends layout

include mixins/_caseNav

block content
  .inner.row
    .case-nav.col-sm-3
      +_caseNav(caseNav)

    .case-container.col-sm-9
      .inner.panel.panel-default
        .panel-heading.case-heading
          h4 CRF 表单
        .panel-body
          block case-content
