extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/discontinuation/${caseId}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuetype)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuetype, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuedt)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuedt, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_1, questionFields)
        
        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_3, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_4, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_5, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_8, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_8, questionFields)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_6, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_7, questionFields)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
