extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/discontinuation/${caseId}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinue)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinue.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuedt)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuedt.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_1.questionLink)
        
        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_3.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_4.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_5.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.discontinuersn_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_6.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_7.questionLink)

        input(type="submit" value=buttonConfig.buttons.save.text)
