extends layout

block content
  .inner
    form.form(action="/login" method="POST")
      fieldset
        legend #{loginConfig.title}

        .form-group
          label.col-sm-2.control-label #{loginConfig.labels.userabbr.text}
          .col-sm-10
            input.form-control(type="text" name="userabbr" required)

        .form-group
          label.col-sm-2.control-label #{loginConfig.labels.password.text}
          .col-sm-10
            input.form-control(type="text" name="password" required)
        input(type="submit" value=loginConfig.buttons.login.text)
