extends layout

block content
  .inner.row
    .hidden-sm.col-md-3
    form.form.col-sm-12.col-md-6.yuda-login-form(action="/login" method="POST")
      .login-brand
        img(src="/images/carpo-reverse.png" class="logo")

      h2 #{loginConfig.title}

      br
      .form-group
        label.col-sm-3.control-label #{loginConfig.labels.userabbr.text}
        .col-sm-12
          input.form-control(type="text" name="userabbr" required)

      .form-group
        label.col-sm-3.control-label #{loginConfig.labels.password.text}
        .col-sm-12
          input.form-control(type="password" name="password" required)


      .col-sm-12
        input.btn.btn-default.login-btn(type="submit" value=loginConfig.buttons.login.text)
