extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/review-checklist/${caseId}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.reviewcheck_1)
          .col-sm-2
            +_questionBtn()
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.reviewcheck_2)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.reviewcheck_3)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.reviewcheck_4)
          .col-sm-2
            +_questionBtn()

        input(type="submit" value=buttonConfig.buttons.save.text)
