extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/screeningchecklist/${caseId}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_1.questionLink)
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_2.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_3.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_4.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_5.questionLink)
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_6.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_7.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_8.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.screeningcheck_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.screeningcheck_9.questionLink)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
