extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/surgery/${caseId}` method="POST")
      fieldset
        legend #{config.title.device}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgerydtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgerydtc.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.device_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.device_1.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.device_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.device_2.questionLink)

      fieldset
        legend #{config.title.surgery}

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_1.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_2.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_3.questionLink)
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_4.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_5.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_6.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_7.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_8.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_9.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_10.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_11)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_11.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_12)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_12.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_13)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_13.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_14)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_14.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_15)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_15.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_16)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_16.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_17)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_17.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_18)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_18.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.surgery_19)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_19.questionLink)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
