extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="surgery-form" action=`/surgery/${caseId}` method="POST")
      fieldset
        legend #{config.groups.device.text}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgerydtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgerydtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.device_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.device_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.device_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.device_2, questionFields)

      fieldset
        legend #{config.groups.surgery.text}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_1, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_2, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_3, questionFields)
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_4, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_5, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_6, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_7, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_8, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_9, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_10, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_11)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_11, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_12)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_12, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_13)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_13, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_14)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_14, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_17)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_17, questionFields)

        - config.formConfigs.surgery_18.hidden = !config.formConfigs.surgery_17.value === true
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.surgery_18)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_18, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.surgery_19)
          .col-sm-2
            +_questionBtn(config.formConfigs.surgery_19, questionFields)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
