extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/sae/${caseId}/${saeId || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeorigion)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeorigion.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saetpe)
          .col-sm-2
            +_questionBtn(config.formConfigs.saetpe.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedtc.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeterm)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeterm.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.saeanti)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeanti.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_1.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_2.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_3.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saestdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saestdtc.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saenoticedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saenoticedtc.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeact)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeact.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeres_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_1.questionLink)

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.saeres_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_2.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerel)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerel.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_1.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_2.questionLink)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedesc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedesc.questionLink)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
