extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="sae-form" action=`/sae/${caseId}/${saeId || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeorigion)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeorigion, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saetpe)
          .col-sm-2
            +_questionBtn(config.formConfigs.saetpe, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeterm)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeterm, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saeanti)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeanti, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_2, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_3, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_4, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_5, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_6, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_7, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_8, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saecaus_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_9, questionFields)

        - config.formConfigs.saecaus_10.hidden = !config.formConfigs.saecaus_9.value === true
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_10, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saestdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saestdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saenoticedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saenoticedtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeact)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeact, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeres_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_1, questionFields)

        .row
          .col-sm-10
            .form-group
              
                +_formTemplate(config.formConfigs.saeres_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_2, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerel)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerel, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_2, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedesc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedesc, questionFields)

      input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
