extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/screening/disease/${caseId}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_1)
          .col-sm-2
            +_questionBtn()
        
        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_2)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_3)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_4)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_5)
          .col-sm-2
            +_questionBtn()
        
        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_6)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_7)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.disease_8)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.disease_9)
          .col-sm-2
            +_questionBtn()

        input(type="submit" value=buttonConfig.buttons.save.text)
