extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-inclusion-form" action=`/screening-inclusion/${caseId}` method="POST")
      - const formDisabled = !(locals.case.status === 'open' || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.title}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.inclusion_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.inclusion_1, questionFields)
        
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.inclusion_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.inclusion_2, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.inclusion_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.inclusion_3, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.inclusion_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.inclusion_4, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" name="save" value=buttonConfig.buttons.save.text)
