extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-assistant-form" action=`/screening-assistant/${caseId}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_1, questionFields)

        - config.formConfigs.assistant_2.hidden = !(config.formConfigs.assistant_1.value === 1 || config.formConfigs.assistant_1.value === 2)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_2, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_3, questionFields)

        - config.formConfigs.assistant_4.hidden = !(config.formConfigs.assistant_3.value === 1 || config.formConfigs.assistant_3.value === 2)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_4, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_5, questionFields)

        - config.formConfigs.assistant_6.hidden = !(config.formConfigs.assistant_5.value === 1 || config.formConfigs.assistant_5.value === 2)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assistant_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.assistant_6, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
