extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-region-form" action=`/screening-region/${caseId}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_1.text}
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.region_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.region_3, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.region_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.region_4, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.region_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.region_5, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.region_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.region_6, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
