extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-exclusion-form" action=`/screening-exclusion/${caseId}` method="POST")
      - const formDisabled = !(locals.case.status === 'open' || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.title}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_1, questionFields)
        
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_2, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_3, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_4, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_5, questionFields)
        
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_6, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_7, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_8, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_9, questionFields)
        
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_10, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_11)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_11, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_12)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_12, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_13)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_13, questionFields)
        
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_14)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_14, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_15)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_15, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.exclusion_16)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_16, questionFields)

        - config.formConfigs.exclusion_17.hidden = !config.formConfigs.exclusion_16.value === true
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.exclusion_17)
          .col-sm-2
            +_questionBtn(config.formConfigs.exclusion_17, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
