include _checkboxTemplate
include _textfieldTemplate
include _dateTemplate
include _textareaTemplate
include _numberfieldTemplate
include _selectTemplate
include _datetimeTemplate
include _radioTemplate

mixin _formTemplate(formConfig, disabled, hideLabel)
  if formConfig.type === 'checkbox'
    +_checkboxTemplate(formConfig, disabled)

  else if formConfig.type === 'textfield'
    +_textfieldTemplate(formConfig, disabled, hideLabel)

  else if formConfig.type === 'textarea'
    +_textareaTemplate(formConfig, disabled)

  else if formConfig.type === 'numberfield'
    +_numberfieldTemplate(formConfig, disabled)

  else if formConfig.type === 'select' || formConfig.type === 'customselect'
    +_selectTemplate(formConfig, disabled)

  else if formConfig.type === 'date'
    +_dateTemplate(formConfig, disabled)

  else if formConfig.type === 'datetime'
    +_datetimeTemplate(formConfig, disabled)

  else if formConfig.type === 'radio'
    +_radioTemplate(formConfig, disabled)
