include _checkboxTemplate
include _textfieldTemplate
include _dateTemplate
include _textareaTemplate
include _numberfieldTemplate
include _selectTemplate
include _datetimeTemplate

mixin _formTemplate(formConfig)
  if formConfig.type === 'checkbox'
    +_checkboxTemplate(formConfig.name, formConfig.text, formConfig.value)

  else if formConfig.type === 'textfield'
    +_textfieldTemplate(formConfig.name, formConfig.text, formConfig.value)

  else if formConfig.type === 'textarea'
    +_textareaTemplate(formConfig.name, formConfig.text, formConfig.value)

  else if formConfig.type === 'numberfield'
    +_numberfieldTemplate(formConfig.name, formConfig.text, formConfig.value, formConfig.step)

  else if formConfig.type === 'select'
    +_selectTemplate(formConfig.name, formConfig.text, formConfig.value, formConfig.options)

  else if formConfig.type === 'date'
    +_dateTemplate(formConfig.name, formConfig.text, formConfig.value)

  else if formConfig.type === 'datetime'
    +_datetimeTemplate(formConfig.text, formConfig.date.name, formConfig.date.value, formConfig.time.name, formConfig.time.value)
