mixin _questionBtn(config, questionFields)
  if ((locals.user.role === 'admin') || ((locals.user.role === 'monitor' || locals.user.role === 'supervisor') && (locals.case.status === 'audited' || locals.case.status === 'committed'))) && !questionFields.includes(config.name)
    a.btn.btn-default.query-btn(href=config.questionLink id=`${config.name}-question-btn` class=(config.hidden === true ? 'hidden' : ''))
      span.glyphicon.glyphicon-question-sign
