mixin _questionBtn(config, questionFields)
  if locals.user.role !== 'cra' && !questionFields.includes(config.name)
    a.btn.btn-default(href=config.questionLink)
      span.glyphicon.glyphicon-question-sign
