extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/visit/${caseId}/${visitId || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visitnum)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visitdtc)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visittype)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visitreason)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visittreat)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.visitres)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_1)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_2)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_3)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_4)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_5)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_6)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_7)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_8)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_9)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_10)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_11)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_12)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_13)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_14)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_15)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_16)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.param_17)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_18)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_19)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_20)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_21)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.param_22)
          .col-sm-2
            +_questionBtn()

        input(type="submit" value=buttonConfig.buttons.save.text)
