extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(action=`/ae/${caseId}/${aeId || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aeorigion)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.event)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aestdtc)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aeeddtc)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aeserv)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aeact)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aerpt)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aerel)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.aeres_1)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aeres_2)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aesae)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aedevicedft)
          .col-sm-2
            +_questionBtn()

        .row
          .col-sm-10
            .form-group
              .col-sm-offset-4.col-sm-8
                +_formTemplate(config.formConfigs.aediscon)
          .col-sm-2
            +_questionBtn()

        input(type="submit" value=buttonConfig.buttons.save.text)
