.case-nav {
  padding-left: 0;
}

.case-container {
  height: 100%;
  padding-left: 0;

  .case-heading{
  }

  .panel-body{
    overflow: auto;
    height:calc(100% - 60px);
  }

  .case-content {
    width: 100%;

    .yuda-input-btn{
      position: absolute;
      top: 14px;
      right: 32px;
      background: $green;
      color: $white;
    }
  }
}
