html {
  font-size: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: $purple;
  background: #efefef;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;

  @media all and (max-width: 900px) {
    padding: 2rem;
  }

  @media screen and (max-width: 480px) {
    overflow: auto;
  }
}

.content {
  padding-left: 15px;
  height: calc(100% - 82px);
}

.kpi-panel {
  padding-right: 15px;

  .kpi-title {
    margin: 10px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.yuda-nav {
  background: $black;
  border: none;
  border-radius: 0;

  .yuda-menu-btn {
    color: $white !important;
  }

  a:hover {
    background: $green !important;
  }

  .navbar-brand {
    color: $green;
    font-weight: bold;
  }

  .yuda-menu-user-icon {
    background: #555;
    color: $white !important;
  }

  .active {
    background: $green-dark;
  }
}

.yuda-login-form {
  background: $white;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px;

  h2 {
    text-align: center;
  }

  br {
    line-height: 30px;
  }

  .login-btn {
    width: 100%;
    margin-top: 20px;
    background: $green;
    color: $white;
  }
}

.yuda-dashboard-panel {
  padding-left: 0;
}

.pading-right-15 {
  padding-right: 15px;
}

.yuda-input-btn {
  float: right;
  //  margin: 20px;
  background: $green;
  color: $white;
}

.yuda-input-btn-2 {
  position: absolute;
  top: 100px;
  right: 32px;
  background: $green;
  color: $white;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}


.yuda-panel {
  height: 100%;
  margin-bottom: 0;

  .yuda-panel-body {
    height: calc(100% - 310px);
    overflow: auto;
  }
}

.padding-left-0 {
  padding-left: 0;
}

.query-mark{
  border: 2px solid $red;
}

.d-flex{
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.w-100 {
  width: 100%!important;
}

.h-100 {
  height: 100%!important;
}

.h-sm-100{
  @media (min-width: 576px){
    height: 100%!important;
  }
}

.yuda-query-hist-panel{
  padding-left: 0;
  overflow: auto;

  @media (max-width: 576px){
    margin-top: 20px;
  }

  .hist-item{
    padding: 0;
    margin-bottom: 10px;

    .hist-heading{
      padding-left: 15px;
      background: #e8e8e8;
      border-bottom: 1px solid #ddd;
    }

    .hist-body{
      padding-left: 15px;
      padding-right: 15px;
    }

    .hist-footer{
      padding-right: 15px;
      text-align: right;
      padding-bottom: 5px;
    }

  }
}
