.yuda-nav-stack {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 5px;
    &.active {
      background: $green;
      border-radius: 10px;
      a {
        color: $white;
      }
    }

    &:hover {
      background: $green-light;
      border-radius: 10px;
      a {
        text-decoration: none;
      }
    }
  }
}

.level-2 {
  padding-left: 30px;
}

.level-1 {
  padding: 0 10px;
  font-weight: bold;
}
